$maincolor: #282828;
$textcolor: #888888;
$headingcolor: #fff;
$highlight: #fac742;



@import 'setup';
@import 'header';
@import 'business-info';
@import 'activities';
@import 'our-services';
@import 'our-photos';
@import 'contact';


html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

img{
    width: 100%;
}

h2{
    text-align: center;
    color: $maincolor;
    font-size: 2.5rem;
}