article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #282828;
  height: 80px;
  display: flex;
  align-items: center; }
  header .company-logo {
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff; }
    header .company-logo p span {
      color: #fac742; }

nav {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto; }
  nav .company-logo {
    text-transform: uppercase; }

.site-nav {
  list-style-type: none;
  padding-left: 0; }
  .site-nav li {
    float: left;
    margin-left: 30px; }
    .site-nav li a {
      text-decoration: none;
      color: #888888;
      transition: all 500ms linear; }
      .site-nav li a:hover {
        color: #fac742; }

ul li:first-child {
  margin-left: 0; }

.hero-image {
  background-image: url("../../public/assets/canoe-lake.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero-image h1 {
    font-size: 4rem;
    margin: 0 0 20px 0;
    color: #fff; }
  .hero-image button {
    background: #fac742;
    height: 30px;
    width: 80px;
    text-transform: uppercase;
    color: #282828;
    font-weight: 600;
    border: 0; }

.tagline {
  color: #fff;
  font-size: 1.2rem; }

.business-info {
  display: flex;
  height: 400px; }
  .business-info .desc-text {
    background: #f4f4f4;
    width: 50%;
    font-size: 1.2rem;
    padding: 50px; }
    .business-info .desc-text h2 {
      font-size: 2.5rem; }
    .business-info .desc-text ul {
      list-style-type: square;
      padding-left: 12px;
      line-height: 1.8rem; }
  .business-info .business-pic {
    background: #282828;
    width: 50%; }

.activities {
  height: 300px;
  display: flex;
  align-items: center;
  padding: 40px 0; }

.featured-activities {
  display: flex;
  width: 70%;
  margin: 0 auto; }
  .featured-activities .activity {
    width: 25%;
    text-align: center;
    margin: 0 30px;
    line-height: 20px; }
    .featured-activities .activity img {
      width: 40px; }

.title {
  font-size: 1.2rem;
  font-weight: 700; }

.our-services {
  background: #f8f8f8;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.service-container {
  display: flex;
  width: 70%;
  margin: 0 auto; }

.service {
  width: 33.33%;
  height: 320px;
  margin: 0 20px;
  color: #fff;
  text-align: center;
  background: #282828; }
  .service .service-text {
    padding: 10px;
    font-size: 1.2rem;
    line-height: 20px;
    height: 200px; }

.service:nth-child(2) {
  background: #fac742;
  color: #282828;
  text-align: left;
  padding: 10px; }

.our-photos {
  height: 600px; }

.gallery-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto; }
  .gallery-nav ul li {
    float: left;
    margin: 0 15px;
    border: 2px solid #fac742;
    padding: 5px 10px; }
    .gallery-nav ul li a {
      text-decoration: none;
      color: #c7c7c7; }

.gallery-8up {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px; }

.gallery-8up div {
  width: 25%;
  height: 200px;
  border: 1px solid black;
  background: lightgrey; }

.gallery-numbers {
  margin-top: 20px; }

.gallery-numbers ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin: 0 auto; }
  .gallery-numbers ul li {
    background: #f8f8f8;
    height: 25px;
    width: 25px;
    float: left;
    margin: 0 10px; }
    .gallery-numbers ul li:hover {
      background: #fac742;
      color: #fff; }
    .gallery-numbers ul li a {
      text-decoration: none;
      color: #282828; }

.contact {
  height: 400px; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

img {
  width: 100%; }

h2 {
  text-align: center;
  color: #282828;
  font-size: 2.5rem; }
